/*=================================================*/
/*==========>>> Jono's CSS Framework <<<===========*/
/*=======>>> Internet Explorer Stylesheet <<<======*/
/*==============>>> version: 1.0 <<<===============*/
/*================>>> 3/18/2012 <<<================*/
/*=================================================*/

/*=================================================*/
/*============>>> Table of Contents <<<============*/
/*=================================================
1.	Template
2.	Header
3.	General Typography
4.	Image
5.	Form
6.	Text, Select Input, and Textarea
7.	Option Input
8.	Button Inputs
9.	Form Error
===================================================*/

/*========================================
Template
========================================*/
div.head,div.nav,div.content,div.foot{
width:960px;
}

/*========================================
General Typography
========================================*/


/*========================================
Form
========================================*/
form{
overflow:hidden;
width:99.8%!important;
zoom:1;
}

legend{
margin-left:-.45454545454545em;
}

div.form-object{
zoom:1;
}

fieldset .width100,fieldset .width75,fieldset .width50,fieldset .width25,fieldset .width16,fieldset .width12{
overflow:hidden;
}

/*========================================
Text,Select Input,and Textarea
========================================*/
div.form-object input,textarea,select{
background:#fff;
border:.0625em solid;
border-color:#b9b9b9 #d9d9d9 #d9d9d9;
color:#000;
display:list-item;
font-family:Verdana,Geneva,sans-serif;
font-size:1em;
list-style-type:none;
margin-top:.0625em;
overflow:hidden;
padding:.3125em;
width:100%;
}

/*========================================
Option Input
========================================*/
div.option-object label{
zoom:1;
}

div.option-object input{
background:none;
border:0;
cursor:pointer;
display:block;
float:left;
font-size:1em;
height:13px;
margin:.125em .625em .0625em .3125em;
padding:0;
width:13px;
}

/*========================================
Button Inputs
========================================*/
div.form-object-button input,button{
background:#f5f5f5;
border:.125em solid #d9d9d9;
font-size:1em;
line-height:1em;
margin:.625em .313em;
overflow:visible;
margin:.625em .313em;
padding:.375em .75em;
width:auto;
}

/*========================================
Form Error
========================================*/
div.option-object input.error{
border:.125em solid #e5897e!important;
height:17px;
margin:0 .5em -.0625em 4px !important;
width:17px;
}

div.option-object span.errormsg{
margin-left:36px;
}