/*=================================================*/
/*==========>>> Jono's CSS Framework <<<===========*/
/*=============>>> Main Stylesheet <<<=============*/
/*==============>>> version: 3.0 <<<===============*/
/*================>>> 12/28/2016 <<<================*/
/*=================================================*/

/*=================================================*/
/*============>>> Table of Contents <<<============*/
/*=================================================
1.	CSS Reset
2.	Template
3.	Header
4.	Navigation
5.	Content
6.	Sidebar
7.	Footer
8.	General Typography
9.	Headers
10.	Links
11.	Blockquote
12.	Lists
13.	Definition List
14.	Table
15.	Image
16.	Form
17.	Text, Select Input, and Textarea
18.	Option Input
19.	Button Inputs
20.	Form Error
21.	Layout
22. Mobile Resizing [Medium]
	a.	Header
	b.	Navigation
23.	Mobile Resizing [Small]
	a.	Navigation
24.	Mobile Resizing
	a.	Template
	b.	Navigation
	c.	Content
	d.	Sidebar
	e.	General Typography
	f.	Blockquote
	g.	Form
	h.	Layout
===================================================*/

/*=================================================*/
/*===============>>> Color Table <<<===============*/
/*=================================================
	*Description*	*State*		*Style*		*Color*
 -	Text			[normal]	[light]		#333
 -	Text			[normal]	[dark]		#000
 -	Background		[normal]	[light 1]	#f5f5f5
 -	Background		[normal]	[light 2]	#fbfbfb
 -	Background		[hover]		[light 3]	#ebebeb
 -	Background		[active]	[light]		#e5e5e5
 -	Background		[normal]	[dark]		#424242
 -	Background		[normal]	[darker]	#222
 -	Border			[normal]	[light]		#d9d9d9
 -	Border			[normal]	[dark]		#b9b9b9
 -	Border			[hover]		[light]		#b9b9b9
 -	Border			[hover]		[dark]		#a0a0a0
 -	Border			[active]	[blue]		#4d90fe
 -	Text Warning	[normal]	[red]		#dd4b39
 -	Warning			[normal]	[red]		#e5897e
 -	Warning			[active]	[red]		#8b3626
 -	Highlight		[normal]	[yellow]	#8b3626
===================================================*/

/*========================================
CSS Reset
========================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select, input, option, optgroup, textarea, bdo, bdi {
	border:0;
	border-spacing:0;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	padding:0;
	quotes:none;
	vertical-align:baseline;
}

/* corrects `block` display not defined in IE 6/7/8/9 and Firefox 3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block;
}

/* prevents modern browsers from displaying `audio` without controls
 * remove excess height in iOS 5 devices */
audio:not([controls]) {
	display:none;
}

html, body {
	height:100%;
}

/*========================================
Template
========================================*/
div.wrapper {
	background:#fbfbfb;
	margin-bottom:-9em;		/* negative value of the footer's height */
	min-height:100%;
	text-align:center;
}

div.head, div.nav, div.content, div.foot {
	max-width:960px;
	width:100%;
}

/*========================================
Header
========================================*/
div.head-container {
	background:#424242;
	overflow:hidden;
	width:100%;
}

div.head {
	margin:0 auto;
	display:table;
}

div.head-section {
	padding:0.625em;
	display:table-cell;
	vertical-align:middle;
}

a.logo:link, a.logo {
	display:inline;
	font-family:Georgia, Times, "Times New Roman", serif;
	padding:0;
}

a.logo img {
	border:0;
	margin:.781em 0;
	max-width:100%;
	padding:0;
	float:left;
}

span.title {
	color:#000;
	display:inline-block;
	font-size:2em;
	line-height:normal;
	float:left;
	margin:1.7em .5em;
}

span.title:hover {
	color:#8b94a5;
}

/*========================================
Navigation
========================================*/
/* div.nav-container {
	background:#222;
	overflow:hidden;
	text-align:center;
	width:100%;
}

div.nav {
	margin:0 auto;
	overflow:hidden;
} */

ul.nav-section {
	overflow:auto;
	padding:0 .625em;
	display:table-cell;
	vertical-align:middle;
	margin:0;			/* reset list global styling */
	list-style-type:none;
}

ul.nav-section li {
float:left;
font-size:1.25em;
line-height:1.6em;
list-style-type:none;
margin:0;
}

ul.nav-section a:link, ul.nav-section a:visited {
color:#fff;
display:block;
padding:0 1.5em;
text-decoration:none;
}

ul.nav-section a:hover {
background:#616161;
color:#fff;
}

ul.nav-section a:active, ul.nav-section a:focus {
background:#474747;
color:#fff;
}

/*========================================
Content
========================================*/
div.content-container {
overflow:hidden;
text-align:center;
width:100%;
}

div.content {
margin:0 auto;
overflow:hidden;
text-align:left;
}

div.section {
float:left;
overflow:hidden;
width:75%;
}

div.section div.article {
padding:.625em;
}

/*========================================
Sidebar
========================================*/
div.aside {
float:left;
overflow:hidden;
width:25%;
}

div.aside div.article {
padding:.625em;
}

/*========================================
Footer
========================================*/
div.push {
height:9em;
}

div.foot-container {
background:#424242;
clear:both;
color:#fff;
height:8em;
margin-top:1em;
position:relative;
width:100%;
}

div.foot {
margin:0 auto;
text-align:center;
}

div.foot-section {
padding:.625em;
}

div.foot div.small {
display:block;
font-size:.75em;
padding:.5em 0;
text-align:center;
}

div.foot a:link, div.foot a:visited {
color:#85b3ff;
}

div.foot a:hover {
color:#6c6eff;
}

div.foot a:active, div.foot a:focus {
color:#ff0000;
}

/*========================================
General Typography
========================================*/
body {
background:#fbfbfb;
font-family:Verdana, Geneva, sans-serif;
font-size:1em;
line-height:1em;
}

p {
color:#333;
line-height:1.75em;
margin:.25em 0 1.25em;
}

p:before {
content:"";
display:block;
overflow:hidden;
width:5em;
}

strong, var, b {
font-weight:700;
}

em, i, q {
font-style:italic;
}

q:before, q:after {
content:"";
}

div.small {
display:inline-block;
font-size:75%;
margin:.25em 0 1.25em;
}

dfn {
border-bottom:.0625em dashed #a0a0a0;
cursor:help;
font-style:italic;
}

sub, sup {
font-size:75%;
position:relative;
vertical-align:baseline;
}

sub {
top:.4em;
}

sup {
top:-.6em;
}

abbr {
border-bottom:.0625em dashed #a0a0a0;
cursor:help;
letter-spacing:.1em;
}

cite {
border-bottom:.0625em dotted #a0a0a0;
cursor:help;
font-style:normal;
font-variant:small-caps;
}

del {
text-decoration:line-through;
}

ins {
text-decoration:underline;
}

samp, var, code, kbd {
border-radius:.385em;
font-family:Consolas, monaco, monospace;
white-space:pre;
}

kbd {
background:#f5f5f5;
border-bottom:.125em solid #b9b9b9;
border-left:.0625em solid #d9d9d9;
border-right:.0625em solid #b9b9b9;
border-top:.0625em solid #d9d9d9;
color:#333;
cursor:default;
font-size:1em;
padding:.0625em .375em;
}

kbd:hover {
background:#ebebeb;
}

kbd:active {
background:#e5e5e5;
border-bottom:.125em solid #a0a0a0;
border-left:.125em solid #b9b9b9;
border-right:.125em solid #a0a0a0;
border-top:.125em solid #b9b9b9;
color:#000;
padding:.0625em 0.313em;
}

samp, var, code {
background:#e5e5e5;
color:#000;
font-size:1em;
padding:.125em .25em;
}

samp {
background:#8e8e8e;
color:#fff;
}

code.block {
background:#f5f5f5;
border-left:.188em solid #6ce26c;
display:block;
margin:.25em 0 1.25em;
max-height:none;
padding:.625em 2%;
white-space:pre-wrap;
width:auto;
}

pre {
background:#f5f5f5;
border:#d9d9d9 solid;
border-radius:.188em;
border-width:.125em 0;
display:inline;
float:left;
font-family:Cambria, Georgia, serif;
font-size:1.125em;
line-height:1.5em;
margin:.25em 5.3% 1.25em;
padding:.5em 3%;
text-align:left;
white-space:pre-wrap;
width:83.4%;
}

pre cite {
border:0;
cursor:text;
display:block;
float:right;
margin:.5em 0 -.5em;
text-align:right;
}

bdo {
direction:rtl;
font-family:Arial, Helvetica, sans-serif;
font-size:1.125em;
padding:.125em .25em;
}

br {
line-height:1.75em;
}

hr {
background:#b9b9b9;
border:solid .0625em;
border-color:#a0a0a0 #d9d9d9 #d9d9d9;
height:.0625em;
margin:.25em 3% 1.25em;
}

/*========================================
Headers
========================================*/
h1, h2, h3, h4, h5, h6 {
color:#000;
font-weight:700;
line-height:1em;
}

h1, h2, caption, legend {
font-family:Georgia, Times, "Times New Roman", serif;
}

h1 {
font-size:3em;
margin:1em 0 .5em;
}

h2 {
font-size:2.35em;
margin:1em 0 .25em;
}

h3 {
font-size:1.65em;
margin:1em 0 .25em;
}

h4 {
font-size:1.5em;
margin:1em 0 .25em;
}

h5 {
font-size:1.35em;
font-style:italic;
margin:1em 0 .25em;
}

h6 {
font-size:1.35em;
font-weight:100;
margin:1em 0 .25em;
}

/*========================================
Links
========================================*/
a, a:link {
color:#00c;
outline:0;
text-decoration:underline;
}

a:visited {
color:#909;
}

a:hover {
color:#6c6eff;
}

a:active, a:focus {
color:#ff0000;
}

/*========================================
Blockquote
========================================*/
blockquote {
display:inline-block;
font-family:Georgia, Times, "Times New Roman", serif;
margin:.25em 5.3% 1.25em;
overflow:hidden;
padding:.625em 1.8125em;
position:relative;
text-align:justify;
}

blockquote p {
font-size:1.125em;
line-height:1.5em;
margin:0;
}

blockquote div.cite {
float:right;
font-size:1.125em;
font-variant:small-caps;
margin-top:.5em;
}

div.open-quote {
color:#b9b9b9;
display:inline;
float:left;
font-size:5em;
height:.4125em;
line-height:1em;
margin:-.2em 0 0 -.4em;
width:.4em;
}

div.close-quote {
color:#b9b9b9;
display:inline;
float:right;
font-size:5em;
height:.4125em;
line-height:1em;
margin:-.5em -.4em 0 0;
overflow:hidden;
width:.45em;
}

/*========================================
Lists
========================================*/
ul.no-style, ol.no-style, ul.no-style li, ol.no-style li {
color:#000;
line-height:auto;
margin:0;
display:block;
}

ul, ol {
color:#333;
line-height:1.2em;
margin:.25em 7% 1.25em 2%;
}

ul li, ol li {
margin:.25em 0 .75em 2.5em;
}

ul ul, ol ol {
margin:0;
}

ull li, li.disc {
list-style-type:disc;
}

ul ul li, li.circle {
list-style-type:circle;
}

ul ul ul li, li.square {
list-style-type:square;
}

ol li, li.decimal {
list-style-type:decimal;
}

ol ol li, li.lower-alpha {
list-style-type:lower-alpha;
}

ol ol ol li, li.lower-roman {
list-style-type:lower-roman;
}

li.upper-roman {
list-style-type:upper-roman;
}

li.upper-latin {
list-style-type:upper-latin;
}

ul.no-styling, ol.no-styling, ul.no-styling li, ol.no-styling li, ul.no-styling ul, ol.no-styling ol {
color:#333;
line-height:normal;
list-style-type:none;
margin:0;
}

/*========================================
Definition List
========================================*/
dl.no-styling, dl.no-styling dt, dl.no-styling dd {
color:#333;
line-height:normal;
margin:0;
padding:0;
}

dl {
color:#333;
line-height:1.5em;
margin:.25em 2% .75em;
}

dt {
font-weight:700;
padding:.5em .5em 0;
}

dd {
padding:0 .5em .5em 2em;
}

/*========================================
Table
========================================*/
div.table-container {
margin:.25em 5.3% 1.25em;
}

table {
border-collapse:collapse;
display:inline-block;
margin:0 auto;
max-width:89.3617022%;
text-align:left;
}

caption {
color:#000;
display:inline-block;
font-size:1.375em;
font-weight:700;
line-height:1.2em;
padding:.5em 0;
text-align:center;
width:100%;
}

thead {
border-bottom:.125em solid #a0a0a0;
}

thead th {
text-align:center;
}

th {
border-bottom:.0714285714em solid #d9d9d9;
color:#551a8b;
font-size:.875em;
font-weight:700;
padding:.5em 1.5em;
vertical-align:middle;
}

td {
border-bottom:.0714285714em solid #d9d9d9;
color:#669;
font-size:.875em;
padding:.5em 1.5em;
vertical-align:middle;
}

tr:hover td {
color:#009;
}

tfoot {
border-top:.125em solid #d9d9d9;
text-align:left;
}

tfoot th {
border-bottom:0;
}

table.vertical td {
border-bottom:0;
}

table.vertical tfoot {
border-top:.143em solid #d9d9d9;
}

table.vertical tr:hover td {
color:#669;
}

/*========================================
Image
========================================*/
div.figure {
background:#e5e5e5;
border:#d9d9d9 solid .078em;
border-radius:.188em;
font-size:.8em;
font-style:italic;
margin:.308em 4%;
max-width:90%;
padding:2% 2% 1%;
text-align:center;
}

div.image-center {
margin:.308em auto;
}

div.figure object {
border:0;
margin:0 auto .769em;
max-width:100%;
}

div.figure img {
border:0;
margin:0 auto .769em;
max-width:100%;
-ms-interpolation-mode:bicubic;
}

img {
background:#fff;
border:#e5e5e5 solid .625em;
color:#fff;
display:block;
margin:.25em auto;
max-width:90%;
}

/*========================================
Form
========================================*/
form {
background:#e5e5e5;
border:#d9d9d9 solid .0625em;
border-radius:.188em;
color:#333;
line-height:1.75em;
margin:.25em 0 1.25em;
text-align:center;
}

form.no-style, form.no-style div.input-group, form.no-style div.input-group-select, form.no-style div.button-group {
border:none;
border-radius:none;
margin:0;
padding-bottom:0;
}

fieldset {
display:block;
padding:1.3125em;
text-align:left;
}

legend {
color:#000;
float:left;
font-size:1.375em;
font-weight:700;
padding:0 0 .455em .182em;
width:100%;
}

/* For IE 7 */
:first-child + html legend {
margin-left:-1px;
}

label {
display:block;
font-size:.875em;
font-weight:700;
line-height:1em;
padding:0 0 .1em;
text-align:left;
}

::-moz-focus-inner {
border:0;
}

/*========================================
Text, Select Input, and Textarea
========================================*/
div.input-group {
clear:both;
display:block;
margin:0 .25em;
overflow:hidden;
padding:0 .75em 1.25em 0;
text-align:center;
}

div.input-group-select {
display:block;
margin:0 .25em 1.25em;
padding:0;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
background:#f5f5f5;
border:solid .0625em;
border-color:#b9b9b9 #d9d9d9 #d9d9d9;
border-radius:.125em;
color:#000;
display:list-item;
font-size:1em;
height:1.125em;
list-style-type:none;
margin-top:.0625em;
overflow:hidden;
padding:.3125em;
width:100%;
}

input[type="file"] {
height:auto;
}

input:hover, select:hover, textarea:hover {
border:solid .0625em;
border-color:#a0a0a0 #b9b9b9 #b9b9b9;
box-shadow:0 .063em .125em rgba(185, 185, 185, 0.3) inset;
}

input:focus, select:focus, textarea:focus, 
input:active, select:active, textarea:active {
border:#4d90fe solid .0625em;
box-shadow:0 .063em .125em rgba(77, 144, 254, 0.3) inset;
outline:none;
}

select {
height:1.875em;
line-height:1.5em;
padding:.25em .3125em .25em .0625em;
text-indent:.125em;
}

optgroup {
background:inherit;
color:#000;
font-size:.875em;
font-style:normal;
font-weight:700;
}

option {
color:#333;
font-weight:200;
text-indent:1em;
}

/* For Firefox 1.0-2.0 */
select, x:-moz-any-link {
height:1.75em;
}
 
/* Firefox 3.0+ */
select, x:-moz-any-link, x:default {
height:1.875em
}

textarea, textarea:hover {
border-width:.125em!important;
height:9.375em;
line-height:1.75em;
overflow:auto;
padding:.25em;
resizer:vertical;
}

textarea[readonly="readonly"] {
color:#333;
}

input[disabled="disabled"], input[disabled="disabled"]:active, input[disabled="disabled"]:hover, select[disabled="disabled"], textarea[disabled="disabled"] {
background:#ebebeb;
border:#b9b9b9 solid .0625em;
box-shadow:none;
color:#333;
cursor:default;
padding:.3125em;
}

textarea[disabled="disabled"] {
border-width:.125em;
padding:.25em;
}

/*========================================
Option Input
========================================*/
div.option-group {
display:block;
margin:.625em .3125em;
}

div.option-group div.option-group {
display:block;
margin:.3125em .625em;
}

div.option-group label {
cursor:pointer;
display:block;
font-weight:100;
line-height:1.3em;
overflow:hidden;
padding:0;
}

div.option-group label:focus, 
div.option-group label:active {
outline:none;
}

input[type="checkbox"], input[type="radio"] {
cursor:pointer;
display:block;
float:left;
font-size:1em;
height:13px;
margin:.125em .625em .0625em .3125em;
width:13px;
}

input[disabled="disabled"] + label {
cursor:default;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
outline:#4d90fe .125em solid;
}

input[disabled="disabled"][type="checkbox"], input[disabled="disabled"][type="radio"] {
background:#ebebeb;
color:#333;
cursor:default;
outline:none;
}

/*========================================
Button Inputs
========================================*/
div.button-group, div.link-button-box {
display:block;
margin:0 auto;
padding:.25em 0;
text-align:center;
}

div.mult-button-group input, div.mult-button-group button, div.mult-button-group a.button {
border-radius:0;
margin:.625em 0 .625em -8px;
}

div.mult-button-group input:first-child, div.mult-button-group button:first-child, div.mult-button-group a.button:first-child {
border-radius:.385em 0 0 .385em;
margin-left:0;
}

div.mult-button-group input:last-child, div.mult-button-group button:last-child, div.mult-button-group a.button:last-child {
border-radius:0 .385em .385em 0;
}

input[type="submit"], input[type="reset"], input[type="image"], input[type="button"], button, a.button, a.button:link, a.button:visited {
background:#f5f5f5;
border:#d9d9d9 solid .125em;
color:#000;
display:inline-block;
font-size:1em;
line-height:1em;
margin:.625em .313em;
overflow:visible;
padding:.5em 1em;
text-decoration:none;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="image"]:hover, input[type="button"]:hover, button:hover, a.button:hover {
background:#ebebeb;
border:solid .0625em;
border-color:#a0a0a0 #b9b9b9 #b9b9b9;
box-shadow:0 .063em .125em rgba(185, 185, 185, 0.3) inset;
padding:.563em 1.063em;
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="image"]:focus, input[type="button"]:focus, a.button:focus, input[type="submit"]:active, input[type="reset"]:active, input[type="image"]:active, input[type="button"]:active, button:focus, button:active, a.button:active {
background:#e5e5e5;
border:#d9d9d9 solid .125em;
box-shadow:0 .063em .125em rgba(77, 144, 254, 0.5) inset;
padding:.5em 1em;
}

/*========================================
Form Error
========================================*/
input.error, textarea.error, input.error:hover, textarea.error:hover {
border:#e5897e solid .125em;
padding:.25em;
}

input.error:focus, textarea.error:focus, 
input.error:active, textarea.error:active {
border:#8b3626 solid .125em;
}

select.error, select.error:hover {
border:#e5897e solid .125em;
padding:.1875em .25em .1875em 0;
}

select.error:focus, 
select.error:active {
border:#8b3626 solid .125em;
}

input.error[type="checkbox"], input.error[type="radio"] {
outline:#e5897e .125em solid;
}

input.error[type="checkbox"]:focus, input.error[type="radio"]:focus, 
input.error[type="checkbox"]:active, input.error[type="radio"]:active {
outline:#8b3626 .125em solid;
}

/* For IE 7 */
:first-child + html input.error[type="checkbox"], :first-child + html input.error[type="radio"] {
border:#e5897e solid .125em;
height:17px;
margin:0 .5em -.0625em .1875em;
width:17px;
}

span.errormsg {
color:#dd4b39;
display:block;
font-size:.8125em;
font-weight:700;
line-height:1em;
overflow:hidden;
text-align:left;
}

div.option-group span.errormsg {
margin-left:2.1538461538462em;
}

/*========================================
Layout
========================================*/
.floatcenterwrapper {
text-align:center;
}

.floatcenter {
margin:0 auto;
}

.floatleft {
float:left;
}

.floatright {
float:right;
}

.width100 {
width:100%;
}

.width75 {
width:75%;
}

.width50 {
width:50%;
}

.width25 {
width:25%;
}

.width16 {
width:16.5%;
}

.width12 {
width:12.5%;
}

/*========================================
Mobile Resizing [Small]
========================================*/
@media handheld, screen and (max-width:380px) {
	/*========================================
	Navigation
	========================================*/
	ul.nav-section li {
	width:100%!important;
	}
}

/*========================================
Mobile Resizing [Medium]
========================================*/
@media handheld, screen and (max-width:770px) {
	/*========================================
	Header
	========================================*/
	a.logo:link, a.logo {
	display:block;
	text-align:center;
	width:100%;
	}

	a.logo img, span.title {
	margin:.781em auto;
	float:none;
	}
	
	/*========================================
	Navigation
	========================================*/
	ul.nav-section li {
	width:50%!important;
	}
}

/*========================================
Mobile Resizing
========================================*/
@media handheld, screen and (max-width:959px) {
	/*========================================
	Template
	========================================*/
	div.content, div.head, div.nav {
	width:100%;
	}

	/*========================================
	Navigation
	========================================*/
	ul.nav-section {
	padding:0!important;
	}
	
	ul.nav-section li {
	width:25%;
	}
	
	/*========================================
	Content
	========================================*/
	div.content {
	width:100%;
	}

	div.section {
	float:left;
	padding:3%;
	width:94%;
	}

	div.section div.article {
	padding:0;
	}

	/*========================================
	Sidebar
	========================================*/
	div.aside {
	float:left;
	padding:3%;
	width:94%;
	}

	div.aside div.article {
	padding:.625em;
	}
	
	/*========================================
	General Typography
	========================================*/
	pre {
	font-size:1em;
	}
	
	/*========================================
	Blockquote
	========================================*/
	blockquote {
	text-align:left;
	}

	blockquote p, blockquote div.cite {
	font-size:1em;
	}
	
	/*========================================
	Layout
	========================================*/
	.width100, .width75, .width50, .width25, .width16, .width12 {
	width:100%;
	}
}